<%- include('./partials/header.ejs')%>

<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <%- include('./partials/sidebar.ejs') %>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4">Desafio NC</h1>
      <p>Proposta: Cadastro de menu dinâmico por usuario</p>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs')%>